html, body {
    background-color: black;
    text-align: center;
}
.container {
    background-color: limegreen;
}
button {
    background-color: limegreen;
    border-color: black;
    margin: 5px;
}